.place__link {
  margin: 12px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  text-decoration-line: underline;
  transition: opacity .4s ease;
}

.place__link:hover {
  opacity: 0.8;
}